GROQ_API_KEY=your_groq_api_key_here
DB_HOST=localhost
DB_NAME=nemhem_db
DB_USER=postgres
DB_PASS=your_db_pass_here
DB_PORT=5433
JWT_SECRET=your_jwt_secret_here
JWT_ALGORITHM=your_jwt_algorithm_here
JWT_EXP_HOURS=your_jwt_exp_hours_here
